html {
  font-family: Inter;
}

@font-face {
  font-family: 'MyCustomFont';
  src: url('/static/fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Bold';
  src: url('/static/fonts/Inter-Bold.ttf') format('truetype');
}

body {
  font-family: 'MyCustomFont', sans-serif;
}

a {
  color: black;
}

H2 {
  font-family: 'Bold', sans-serif;
  font-weight: Bold;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 600px; /* or any specific width */
}

.date {
  color: #737373;
}